* {
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica;
  font-size: 12px;
}
body * {
  -webkit-test-size-adjust:100%;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
}
a,button,input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button,input {
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  text-decoration: none;
  color: #2b2a2a;
}
input {
  outline: none;
  vertical-align: middle;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*自定义*/
.flex img {
  width: 44%;
  float: left;
  margin: 0 10px 10px 10px;
  height: 100px;
}
.temp {
  margin-bottom: 40px;
  margin-top: 40px;
}
.mint-cell-wrapper {
  align-items: normal;
}
p {
  font-size: 14px;
}
